<nav>
    <div class="container">
        <div class="row">
            <div class="two columns nav-logo">
                <a href="/">
                    <img src="/public/img/logo.png" alt="Discloud logo"/>
                </a>
            </div>
            <div class="five columns"></div>
            <div class="five columns">
                <div class="row">
                    <div class="four columns">
                        <a class="link" href="/pricing">Payment</a>
                    </div>
                    <div class="four columns">
                        <a class="link" href="/signup">Sign Up</a>
                    </div>
                    <div class="four columns">
                        <a class="link sign-in" href="/login">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>